<h2>Complain and let us know: </h2>

<label>Select Game</label>
             <select id = "myList">
               <option value = "1">World Of Warcraft</option>
               <option value = "2">Overwatch</option>
               <option value = "3">Escape From Tarkov</option>
               <option value = "4">Call Of Duty: Black Ops Cold War</option>
             </select>
<br><br>
<form class="" action="/complaints" method="post">
    <label for="content">Lets Complain</label>
    <input type="text" name="content" value="">
    <input type="submit" name="" value="Complain">
</form>



