<h2><%= @user.name %>'s Home Page</h2>

<h5>Email: <%= @user.email %></h5>


#<label>Select list</label>
#             <select id = "myList">
#               <option value = "1">one</option>
#               <option value = "2">two</option>
#              <option value = "3">three</option>
#               <option value = "4">four</option>
#             </select>

#this will create a dropbox for complaints to choose the game you are complaining about!